# Build artifacts
/*.rbxl
/*.rbxlx

# Roblox Studio
/*.rbxl.lock
/*.rbxlx.lock

# Rojo
/sourcemap.json

# Pesde
/.pesde/
/luau_packages/
/lune_packages/
/roblox_packages/
/roblox_server_packages/

# Asphalt
/.asphalt-debug/
src/client/Assets.luau
src/client/Assets.d.ts

# Blink
src/client/Net.luau
src/server/Net.luau

# Secrets
/.env
